<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Weather Tests" >


    <test name="Weather Test Class" >
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="WeatherPackage.WeatherTestClass"/>
        </classes>
    </test>

</suite>
